body {
    background: rgb(58, 58, 58);
    color: white;
    font-family: Helvetica Nove, Helvetica, Arial, sans-serif;
    margin: 20;

}
header {
    background-color: black;
    padding: 20px 40px 10px 50px;
}
header .logo a {
color: antiquewhite;
}
button {
    background: black;
}
section {
    background-color: white;
    color: grey;
    padding: 20;
    display: flex;
    flex-direction: row;
}
dIV {
    background:red;
    margin: auto;
    width: 100px;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li{
    display: inline-block;
    margin-right: 20px;
}
footer {
    background: black;
    padding: 10px 20;
} 